PORT=5000
MONGODB_URI=mongodb+srv://<kullanici>:<sifre>@cluster0.xxxxx.mongodb.net/velopath?appName=Cluster0
JWT_SECRET=guclu_ve_rastgele_bir_secret_key_buraya
GEMINI_API_KEY=sizin_gemini_api_anahtariniz
